@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/conteudoprincipal.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --branco: #8E1616;
    --hover: #c45353;
    --ciano: #EEEEEE;
    --bege: #D7D3BF;
    --preto: #000000;
    --ceu: #B3C8CF;
    --fonte-principal:'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
    --cinza: #EEEEEE;
}

body {
    background-color: #1D1616;
    background-color: var();
    font-family: var();
    font-size: 16px;
    font-weight: 400;
}