.container__link__perfil {
    display: none;
}

.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../imgs/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 15vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.subtitulo {
    font-size: 24px;
    font-weight: 300;
}

.lista-menu__titulo {
    color: var(--cinza);
    font-weight: 700;
    font-size: 28px;
    
}

.lista-menu__item {
    background-color: var(--cinza);
}

.lista-menu__link {
    background: var(--cinza);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--branco);
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.container__titulo__negrito {
    color: white;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../imgs/Menu.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--branco);
}

.container__titulo, .container__titulo__negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
}

.container__titulo__negrito {
    font-weight: 700
}

.container__titulo {
    font-weight: 400;
    display: block;
}

.container {
    gap: 3em;
}

.cabecalho {
    padding: 0 2em 0 0;
}

.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--hover);
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    .container__link {
        display: none;
    }

    .container__titulo {
        display: block;
        font-size: 20px;
        margin-left: 0.2em;
    }

    .container__titulo__negrito {
        font-weight: 800;
    }

    .container__link__perfil {
        display: block;
    }

    

}