.topicos {
    display: flex;
    background: var(--branco);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5em;
}

.topicos__titulo {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0.7em;
    margin-bottom: 0.3EM;
    color: white;
}

.topicos__itens-lista {
    display: flex;
    gap: 1.5em;
}

.topicos__itens-botao {
    background: white;
    padding: 1em 7.5em;
    margin: 1em;
    border-radius: 1em;
}

.topicos__itens-link {
    text-decoration: none;
    font-size: 16px;
    color: var(--preto);
    padding: 1em 7.5em;
}